.loading-container {
  display: flex;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #0b0650;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
