.movie-card-container {
  width: 30em;
  max-height: 250px;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.poster-infos {
  height: 200px;
  color: #c0bbbb;
}

.poster-infos span {
  color: #ebe9e9;
  font-weight: 900;
}
